
@model APMS.Business.Web.NotificationViewModel


<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="noti_icon" >
    <i class="fa fa-bell-o"></i>
    <span class="label label-danger" >@Model.UnreadNotiAmount</span>
</a>
<ul class="dropdown-menu" >
    <li class="header">You have @Model.UnreadNotiAmount new notifications</li>
    <li>
        <ul class="menu">
            @foreach (var item in Model.NotiList)
            {
                <li>
                    <a onclick="Notification.GetDetailNotification(@item.Id)">
                        <i class="fa fa-warning text-yellow"></i>
                        @if (item.State == 0)
                        {
                            <b>@item.Title</b>
                        }
                        else
                        {
                            @item.Title
                        }
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>